<div class="categories">
  <h3 class="heading-3 red uppercase">{{ heading }}</h3>
  <p class="text-3 secondary-gray collection__text">{{ paragraph }}</p>

  <div class="categories__wrapper">
    {% for collection in collections %}
      {% if collection.title != 'Home page' %}
        <div class="categories__list">
          <img src="{{ collection.featured_image | image_url: width: 390 }}" width="390" height="430" alt="">

          <div class="categories__list-desc">
            <h6 class="heading-4 red uppercase">{{ collection.title }}</h6>
            <p class="text-4 white">
              {{ collection.products.size }}
              {% if collection.products.size > 1 %}products{% else %}product{% endif %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
