<link rel="stylesheet" href="{{ 'about-company.css' |  asset_url }}">
<link rel="stylesheet" href="{{ 'featured-collection.css' |  asset_url }}">

<div class="company__container">
  <div class="company__header">
    <div class="company__header-bg">
      <img
        class="company__header-bg-image"
        src="{{ section.settings.header_image |  image_url: width: 1000 }}"
        width="1920"
        height="230"
        alt=""
      >
    </div>

    <div class="company__header-content">
      {% render 'breadcrumb' %}
      <h2 class="heading-2 white uppercase">{{ section.settings.header_title }}</h2>
    </div>
  </div>

  <div class="company__service">
    <div class="company__clip-path"></div>
    <div class="company__service-box">
      <div class="company__service-content">
        <h3 class="heading-3 red uppercase">{{ section.settings.service_title }}</h3>
        <p class="text-2 white company__service-text">
          {{ section.settings.service_text }}
        </p>
      </div>
      <div class="company__service-image">
        <img src="{{ section.settings.service_img |  image_url: width: 1000  }}" width="570" height="320" alt="">
      </div>
    </div>

    <ul class="company__service-list">
      {% for block in section.blocks %}
        {% if block.type == 'service' %}
          {% assign icon_width = '' %}
          {% assign icon_height = '' %}

          {% case forloop.index %}
            {% when 1 %}
              {% assign icon_width = 67 %}
              {% assign icon_height = 37 %}
            {% when 2 %}
              {% assign icon_width = 37 %}
              {% assign icon_height = 37 %}
            {% when 3 %}
              {% assign icon_width = 43 %}
              {% assign icon_height = 37 %}
            {% else %}
              {% assign icon_width = 67 %}
              {% assign icon_height = 37 %}
          {% endcase %}

          <li class="company__service-item">
            <img
              src="{{ block.settings.service_icon | image_url: width: 1000 }}"
              width="{{ icon_width }}"
              height="{{ icon_height }}"
              alt=""
            >
            <h5 class="heading-5 company__service-title">{{ block.settings.title }}</h5>
            <p class="text-3 uppercase">{{ block.settings.text }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="company__categories-container">
    <div class="company__categories">
      {% render 'categories' with heading: 'shop by categories', paragraph: 'Pick a category you need', collections: collections %}
    </div>
  </div>

  <div class="company__team-container">
    <div class="company__team">
      <h3 class="heading-3 uppercase">Our team</h3>
      <p class="text-2 gray company__team-text">Professionals that works with us</p>

      <ul class="company__team-list">
        {% for block in section.blocks %}
          {% if block.type == 'our-team' %}
            <li class="company__team-item">
              <img src="{{ block.settings.avatar |  image_url: width: 1000 }}" width="124" height="124" alt="">
              <p class="text-4 company__team-occupation">{{ block.settings.occupation }}</p>
              <h6 class="heading-6 uppercase">{{ block.settings.name }}</h6>
              <div class="social__media-icons">
                {% if block.settings.phone_url %}
                  <a href="{{ block.settings.phone_url }}" target="_blank">
                    <img
                      src="{{ block.settings.phone_url |  image_url: width: 1000 }}"
                      width="12"
                      height="12"
                      alt="Facebook"
                    >
                  </a>
                {% endif %}
                {% if block.settings.mail_url %}
                  <a href="{{ block.settings.mail_url }}" target="_blank">
                    <img
                      src="{{ block.settings.mail_url |  image_url: width: 1000 }}"
                      width="12"
                      height="12"
                      alt="Facebook"
                    >
                  </a>
                {% endif %}
                {% if block.settings.twitter_url %}
                  <a href="{{ block.settings.twitter_url }}" target="_blank">
                    <img
                      src="{{ block.settings.twitter_url |  image_url: width: 1000 }}"
                      width="12"
                      height="12"
                      alt="Facebook"
                    >
                  </a>
                {% endif %}
                {% if block.settings.facebook_url %}
                  <a href="{{ block.settings.facebook_url }}" target="_blank">
                    <img
                      src="{{ block.settings.facebook_url |  image_url: width: 1000 }}"
                      width="12"
                      height="12"
                      alt="Facebook"
                    >
                  </a>
                {% endif %}
              </div>
              <p class="text-4 gray ">{{ block.settings.desc }}</p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Company",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_image",
      "label": "Header Bg"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Header Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "service_title",
      "label": "Service Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "service_text",
      "label": "Service Text",
      "default": "Default Text"
    },
    {
      "type": "image_picker",
      "id": "service_img",
      "label": "Service Image"
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service",
      "settings": [
        {
          "type": "url",
          "id": "icon_url",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "service_icon",
          "label": "Service Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Default Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Default Text"
        },
        {
          "type": "number",
          "id": "icon_width",
          "label": "Icon Width",
          "default": 67
        },
        {
          "type": "number",
          "id": "icon_height",
          "label": "Icon Height",
          "default": 37
        }
      ]
    },
    {
      "type": "our-team",
      "name": "Our Team",
      "settings": [
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "occupation",
          "label": "Occupation",
          "default": "Default Text"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Default Text"
        },
        {
          "type": "text",
          "id": "desc",
          "label": "Description",
          "default": "Default Text"
        },
        {
          "type": "image_picker",
          "id": "phone_url",
          "label": "phone URL"
        },
        {
          "type": "image_picker",
          "id": "mail_url",
          "label": "mail URL"
        },
        {
          "type": "image_picker",
          "id": "twitter_url",
          "label": "twitter URL"
        },
        {
          "type": "image_picker",
          "id": "facebook_url",
          "label": "facebook URL"
        }
      ]
    }
  ]
}
{% endschema %}
