<link rel="stylesheet" href="{{ 'cart.css' |  asset_url }}">

<div class="cart__header">
  <div class="cart__header-bg">
    <img
      class="cart__header-image"
      src="{{ section.settings.cart_image |  image_url: width: 1920 }}"
      width="1920"
      height="230"
      alt=""
    >
  </div>

  <div class="cart__header-content">
    {% render 'breadcrumb' %}
    <h2 class="heading-2 white uppercase">shopping Cart</h2>
  </div>
</div>

{% if cart.item_count > 0 %}
  <div class="product__list-wrapper">
    <h3 class="heading-4 uppercase">{{ section.settings.header }}</h3>
    <form class="product__form" action="{{ routes.cart_url }}" method="POST">
      <ul class="cart__products">
        {% for item in cart.items %}
          <li class="cart__product">
            <div class="cart__product-info">
              <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">
                <img src="{{ section.settings.cart_remove |  image_url: width: 100 }}" width="18" height="18" alt="">
              </a>
              <img src="{{ item.image |  image_url: width: 116 }}" width="116" height="98" alt="">
              <div class="cart__product-price">
                <a href="{{ item.url }}">
                  <h5 class="heading-5 uppercase">{{ item.product.title }}</h5>
                </a>
                <p class="text-2 gray">Size: {{ item.variant.title }}</p>
              </div>
              
            </div>

            <div class="cart__product-actions">
              <div class="cart__product-quantity">
                <button class="product__quantity-btn">
                  <img
                    src="{{ section.settings.quantity_right |  image_url: width: 100 }}"
                    width="5"
                    height="10"
                    alt=""
                  >
                </button>
                <span class="product__quantity-number">1</span>
                <button class="product__quantity-btn">
                  <img
                    class="product__quantity-right-icon"
                    src="{{ section.settings.quantity_left |  image_url: width: 100 }}"
                    width="5"
                    height="10"
                    alt=""
                  >
                </button>
              </div>
              <h5 class="heading-5 gray">{{ item.line_price | money }}</h5>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="cart__price-wrapper">
        <div class="cart__price">
          <div class="cart__price-info">
            <h5 class="heading-5 cart__price-title">Cart totals</h5>
            <p class="text-4 secondary-gray cart__price-subtotal">
              <span>Subtotals:</span>
              <span class="heading-6 white" id="cart-subtotal">{{ cart.total_price | money }}</span>
            </p>
          </div>
          <h5 class="cart__price-total">
            <span class="heading-5 white uppercase">Total:</span>
            <span class="heading-6 white" id="cart-total">{{ cart.total_price | money }}</span>
          </h5>
        </div>

        <div class="cart__price-btns">
          <a href="#" class="cart__price-checkout">Proceed to checkout</a>
          <a href="{{ routes.all_products_collection_url }}" class="cart__price-shop">Continue shopping</a>
        </div>
      </div>
    </form>
  </div>
{% else %}
  <div class="cart__wrapper">
    <div class="cart__content">
      <div class="cart__content-wrapper">
        <h2 class="heading-2 red uppercase">Your Shopping cart is empty</h2>
        <p class="text-2 white cart__content-text">
          To see which products are in cart, go to shop and click on “Add to cart” button. For now there is no products
          added into the cart.
        </p>
      </div>
    </div>
    <div class="cart__action">
      <a href="{{ routes.all_products_collection_url }}" class="link-gray">
        <p class="text-4">Go to shop</p>
      </a>
    </div>
  </div>
{% endif %}

<script></script>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "image_picker",
      "id": "cart_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "cart_remove",
      "label": "Remove Icon"
    },
    {
      "type": "image_picker",
      "id": "quantity_right",
      "label": "Quantity Icon"
    },
    {
      "type": "image_picker",
      "id": "quantity_left",
      "label": "Quantity Icon"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Title",
      "default": "Default Title"
    }
  ]
}
{% endschema %}
