<link rel="stylesheet" href="{{ "footer.css" |  asset_url }}">

<div class="footer__container">
  <div class="footer__wrapper">
    <div class="footer__content">
      <div class="footer__social">
        <img src="{{ section.settings.logo |  image_url: width: 106 }}" width="106" height="24" alt="">
        <p class="text-5 white footer__social-text">{{ section.settings.social_text }}</p>

        <div class="footer__social-icons">
          {% comment %}
            {% render 'facebook' %}
            {% render 'vkontakte' %}
            {% render 'instagram24' %}
            {% render 'twitter' %}
          {% endcomment %}

          {% for block in section.blocks %}
            {% if block.type == 'media' %}
              <a href="{{ block.settings.social_url }}">
                <img src="{{ block.settings.social_icon |  image_url: width: 24  }}" width="24" height="24" alt="">
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="footer__information">
        <h6 class="heading-6 red uppercase">Information</h6>

        <ul class="footer__information-list">
          <li class="footer__information-item">
            <a class="footer__information-link" href="#">
              <p class="text-4 white">About Miralou</p>
            </a>
          </li>

          <li class="footer__information-item">
            <a class="footer__information-link" href="#">
              <p class="text-4 white">FAQ</p>
            </a>
          </li>

          <li class="footer__information-item">
            <a class="footer__information-link" href="#">
              <p class="text-4 white">Contact Us</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__links">
        <h6 class="heading-6 red uppercase">Quick Links</h6>

        <ul class="footer__links-list">
          <li class="footer__links-item">
            <a class="footer__links-link" href="#">
              <p class="text-4 white">About Miralou</p>
            </a>
          </li>

          <li class="footer__links-item">
            <a class="footer__links-link" href="#">
              <p class="text-4 white">FAQ</p>
            </a>
          </li>

          <li class="footer__links-item">
            <a class="footer__links-link" href="#">
              <p class="text-4 white">Contact Us</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contact">
        <h6 class="heading-6 red uppercase">contact us</h6>

        <ul class="footer__contact-list">
          <li class="footer__contact-item">
            <a href="#" class="footer__contact-link">
              {% render 'location' %}
              <p class="text-4 white">2715 Ash Dr. San Jose, South Dakota 83475</p>
            </a>
          </li>
          <li class="footer__contact-item">
            <a href="#" class="footer__contact-link">
              {% render 'phone' %}
              <p class="text-4 white">(808) 555-0111</p>
            </a>
          </li>
          <li class="footer__contact-item">
            <a href="#" class="footer__contact-link">
              {% render 'email' %}
              <p class="text-4 white">2715 Ash Dr. San Jose, South Dakota 83475</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__copyright">
      <h6 class="heading-6 white uppercase">Copyright © 2022 Miralou</h6>
      <h6 class="heading-6 white uppercase">All right reserved</h6>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "social_text",
      "label": "Social Text",
      "default": "Default Text"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "url",
          "id": "social_url",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "social_icon",
          "label": "Social Media Icon"
        }
      ]
    }
  ]
}
{% endschema %}
