<link rel="stylesheet" href="{{ "footer.css" |  asset_url }}">

<div class="footer__container">
  <div class="footer__wrapper">
    <div class="footer__content">
      <div class="footer__social">
        <img src="{{ section.settings.logo |  image_url: width: 106 }}" width="106" height="24" alt="">
        <p class="text-5 white footer__social-text">{{ section.settings.social_text }}</p>

        <div class="footer__social-icons">
          {% for block in section.blocks %}
            {% if block.type == 'media' %}
              <a href="{{ block.settings.social_url }}">
                <img src="{{ block.settings.social_icon |  image_url: width: 24  }}" width="24" height="24" alt="">
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="footer__information">
        <h6 class="heading-6 red uppercase">{{ section.settings.nav_info }}</h6>

        <ul class="footer__information-list">
          {% for link in linklists.footer.links %}
            <li class="footer__information-item">
              <a class="footer__information-link" href="{{ link.url }}">
                <p class="text-4 white">{{ link.title }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer__links">
        <h6 class="heading-6 red uppercase">{{ section.settings.nav_links }}</h6>

        <ul class="footer__links-list">
          {% for link in linklists['footer-quick-links'].links %}
            <li class="footer__links-item">
              <a class="footer__links-link" href="{{ link.url }}">
                <p class="text-4 white">{{ link.title }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer__contact">
        <h6 class="heading-6 red uppercase">{{ section.settings.nav_contact }}</h6>

        <ul class="footer__contact-list">
          {% for link in linklists['footer-contact'].links %}
            <li class="footer__contact-item">
              <a href="{{ link.url }}" class="footer__contact-link">
                <p class="text-4 white">{{ link.title }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="footer__copyright">
      <h6 class="heading-6 white uppercase">{{ section.settings.copyright }}</h6>
      <h6 class="heading-6 white uppercase">{{ section.settings.rights }}</h6>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "social_text",
      "label": "Social Text",
      "default": "Default Text"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "nav_info",
      "label": "Footer Nav Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "nav_links",
      "label": "Footer Nav Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "nav_contact",
      "label": "Footer Nav Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright",
      "default": "Default Text"
    },
    {
      "type": "text",
      "id": "rights",
      "label": "Rights",
      "default": "Default Text"
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "url",
          "id": "social_url",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "social_icon",
          "label": "Social Media Icon"
        }
      ]
    },
    {
      "type": "quicklinks",
      "name": "Quicklinks",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
