<link rel="stylesheet" href="{{ 'main-product.css' |  asset_url }}">

<div class="main-product">
  <div class="product__container">
    <div class="product__image">
      <img src="{{ product.featured_image | image_url: width: 1000 }}" width="270" height="230" alt="">
      <img
        class="product__image-right"
        src="{{ product.featured_image | image_url: width: 1000 }}"
        width="270"
        height="230"
        alt=""
      >
    </div>

    <div class="product__content">
      {% render 'product-breadcrumbs' %}
      <h5 class="heading-5 product__content-title">{{ product.title }}</h5>
      <h5 class="heading-5 red">{{ product.price | money }}</h5>



      <div class="product__content-actions">
        <form id="add-to-cart-form" action="/cart/add" method="post">
          <ul class="product__sizes">
            {% for variant in product.variants %}
              {% if variant.available %}
                <li class="product__size">
                  <input
                    type="radio"
                    name="id"
                    value="{{ variant.id }}"
                    {% if forloop.first %}checked{% endif %}
                  >
                  <label class="text-4">{{ variant.option1 }}</label>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

          {% unless product.variants.size == 1 %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          {% endunless %}
          <button type="submit" class="button__cart white">{{ section.settings.cart_title }}</button>
        </form>
        <button class="button__wishlist">{{ section.settings.wishlist_title }}</button>
      </div>

      <div class="product__description">
        <button class="product__description-title">
          <p class="text-4">{{ section.settings.description }}</p>
          <img
            class="product__description-toggle"
            src="{{ section.settings.toggle_btn |  image_url: width: 1000 }}"
            width="10"
            height="5"
            alt=""
          >
        </button>

        <div class="product__description-text">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.querySelector('.product__description-title');
    const descriptionText = document.querySelector('.product__description-text');
    const toggleIcon = document.querySelector('.product__description-toggle');

    toggleButton.addEventListener('click', function () {
      if (!toggleIcon.classList.contains('open')) {
        toggleIcon.classList.add('open');
      } else {
        toggleIcon.classList.remove('open');
      }

      if (descriptionText.classList.contains('open')) {
        descriptionText.style.maxHeight = null;
        descriptionText.classList.remove('open');
      } else {
        descriptionText.style.maxHeight = descriptionText.scrollHeight + 'px';
        descriptionText.classList.add('open');
      }
    });
  });
</script>

{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "text",
      "id": "cart_title",
      "label": "Cart Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "wishlist_title",
      "label": "Wishlist Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Default Title"
    },
    {
      "type": "image_picker",
      "id": "toggle_btn",
      "label": "Toggle Button"
    }
  ]
}
{% endschema %}
