<link rel="stylesheet" href="{{ "testimonial.css" |  asset_url }}">

{% style %}
  .testimonial__title {
    color: {{ section.settings.color }};
    text-transform: uppercase;
  }
{% endstyle %}

<div class="about-us__testimonial">
  <h2 class="heading-4 testimonial__title">{{ section.settings.title }}</h2>
  <div class="about-us__testimonial-box">
    <div class="chevron__left slick-prev">
      {% render 'chevron' %}
    </div>
    <div class="slider">
      {% for block in section.blocks %}
        {% if block.type == 'testimonial' %}
          <div class="testimonial-item">
            <p class="text-2 gray testimonial__text">{{ block.settings.description }}</p>
            <h5 class="heading-5 red uppercase">-{{ block.settings.author }}</h5>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="chevron__right slick-next">
      {% render 'chevron' %}
    </div>
  </div>

  <div class="about-us__brands">
    {% for block in section.blocks %}
      {% if block.type == 'brand' %}
        <a href="{{ block.settings.brand_url }}">
          <img src="{{ block.settings.brand_logo | image_url: width: 1000 }}" alt="" width="170" height="84">
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script type="text/javascript" defer>
  document.addEventListener('DOMContentLoaded', () => {
    $('.slider').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      prevArrow: '.slick-prev',
      nextArrow: '.slick-next',
      dots: true,
    });
  });
</script>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Default Title"
    },
    {
      "type": "text",
      "id": "color",
      "label": "Color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Description",
      "default": "Default Text"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Default Description"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author",
      "default": "Default Author"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "url",
          "id": "brand_url",
          "label": "URL"
        },
        {
          "type": "image_picker",
          "id": "brand_logo",
          "label": "Brand Logo"
        }
      ]
    },
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "This is a sample testimonial description."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "John Doe"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "category": "Custom"
    }
  ]
}
{% endschema %}
